<div class="banner-sec">
  <div class="row">
    <div class="col-12">
      <div class="slide card-container1">
        <div class="img mobile-none"><img alt="..." class="img-fluid"
            src="https://s3-ap-south-1.amazonaws.com/iquantamedia/profile_pic/topicflow.webp"></div>
        <div class="img desk-none"><img alt="..." class="img-fluid"
            src="https://s3-ap-south-1.amazonaws.com/iquantamedia/profile_pic/topicflow_WoZskOX.webp">
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="slide card-container1">
        <div class="img mobile-none"><img alt="..." class="img-fluid"
            src="https://s3-ap-south-1.amazonaws.com/iquantamedia/profile_pic/result-banner.jpeg">
        </div>
        <div class="img desk-none"><img alt="..." class="img-fluid"
            src="https://s3-ap-south-1.amazonaws.com/iquantamedia/profile_pic/result-banner_s8BeWOa.jpeg"></div>
      </div>
    </div>
    <div class="col-12">
      <div class="slide card-container1">
        <div class="img mobile-none"><img alt="..." class="img-fluid"
            src="https://s3-ap-south-1.amazonaws.com/iquantamedia/profile_pic/2_Modules.webp"></div>
      </div>
    </div>
    <div class="col-md-12 ng-star-inserted">
      <div class="slide card-container1">
        <div class="img mobile-none"><img alt="..." class="img-fluid"
            src="https://s3-ap-south-1.amazonaws.com/iquantamedia/profile_pic/Application_Class.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
