<section class="course-content-main">

  <div class="team-bg">
    <div class="row">
      <div class="col-7">
        <div class="content-text">
          <h2><strong>BMW </strong>Car to <strong>CAT 100%iler </strong>from <strong>iQuanta&#xFEFF;</strong></h2>
          <p>
            <strong>Previously iQuanta Gifted&nbsp;</strong><strong style="color: rgb(255, 192, 0);">ROYAL
              ENFIELD</strong><strong>&nbsp;to their&nbsp;</strong><strong style="color: rgb(255, 192, 0);">CAT
              100%iler Rishi Mittal</strong><strong>&nbsp;Gift&nbsp;</strong><strong style="color: rgb(255, 192, 0);">by
              Founder Indrajeet Singh</strong>
          </p>

        </div>
      </div>
      <div class="col-5 desk-none">
        <div class="middle">
          <div class="bg_img"><img alt=""
              src="https://s3-ap-south-1.amazonaws.com/iquantamedia/cuetfiles/33y_Fjr0gcV.webp"></div>
          <div class="view_btn ng-star-inserted">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="course-content">
    <div class="course-timeline">
      <div class="heading d-flex align-items-center">
        <div class="img"><img _ngcontent-serverapp-c82=""
            src="https://media.iquanta.in/ui_images/new-home/notebook2.png" alt=""></div>
       <div>
        <label for="">
          Course Content
        </label>
       </div>
      </div>
      <div class="fhases">
        <h6>This course will be completed in 3 phases</h6>
        <div class="row">
          <div class="col-4 col-4">
            <div class="phase-title"
              style="background: linear-gradient(176deg, rgb(31, 211, 231) 0%, rgb(68, 176, 246) 93%);">
              <h5>Phase 1</h5>
              <p>Concept Learning</p>
            </div>
          </div>
          <div class="col-4 col-4">
            <div class="phase-title"
              style="background: linear-gradient(176deg, rgb(102, 111, 227) 0%, rgb(72, 81, 157) 93%);">
              <h5>Phase 2</h5>
              <p>Application and Live Classes</p>
            </div>
          </div>
          <div class="col-4 col-4">
            <div class="phase-title"
              style="background: linear-gradient(176deg, rgb(252, 105, 110) 0%, rgb(253, 143, 78) 93%);">
              <h5>Phase 3</h5>
              <p>Mocks and Revision</p>
            </div>
          </div>
        </div>
      </div>
      <div class="phases-container">
        <div class="phases-wrapper phase1"
          style="background: linear-gradient(176deg, rgb(31, 211, 231) 0%, rgb(68, 176, 246) 93%);">
          <div class="phases-wrapper-in">
            <div class="phase-card"><span >Enrolled Now</span>
              <h4>100+ Quant Conceptual Videos</h4>
              <div>
                <p>The moment you enrol you will get access to our foundational Quant videos on our dashboard.</p>
              </div>
            </div>
            <div class="phase-card"><span>Now</span>
              <h4>Non Engineers Concept Videos</h4>
              <div>
                <p>New Non Engineers Concept Videos will get updated in your dashboard. This will help those extremely
                  weak in Quants with maths concepts from class VI level.</p>
              </div>
            </div>
            <div class="phase-card"><span>Now</span>
              <div class="row">
                <div class="col-8">
                  <div class="middle">
                    <h4>IIM ABC: 1250 Quant + 250 RC + 250 LRDI Sets</h4>
                    <div>
                      <p>The moment you enrol in CAT + IIM ABC Product you get this static Part of IIM ABC Module. <a
                          href="https://www.iquanta.in/details/iim-abc-practice-batch" rel="noopener noreferrer"
                          target="_blank" style="color: rgb(255, 192, 0);"><strong>Know More</strong></a></p>
                      <p><strong style="background-color: transparent; color: rgb(241, 194, 50);">Not included in this
                          package </strong>(Select as Add-on to get it)</p>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="video-card1"><img
                      src="https://s3-ap-south-1.amazonaws.com/iquantamedia/media/faculty_image/faculty_image/sUntitled-1_copy.jpg">
                  </div>
                </div>
              </div>
            </div>
            <div class="phase-card"><span>Now</span>
              <h4>Live Classes</h4>
              <div>
                <p>CAT Course will start the moment you enrol, as we'll start providing you Non Engineers QA module
                  &amp;
                  Engineers VARC one by one &amp; by the time you finish 25% of it, your Live classes will start in few
                  days .</p>
              </div>
            </div>
          </div>
        </div>
        <div class="phases-wrapper phase1"
          style="background: linear-gradient(176deg, rgb(102, 111, 227) 0%, rgb(72, 81, 157) 93%);">
          <div class="phases-wrapper-in">
            <div class="phase-card"><span>Now</span>
              <h4>Live Stream &amp; Application Classes start!</h4>
              <div>
                <p>Mix of Both Conceptual Live Stream &amp; Application Live Session will start on daily basis and your
                  syllabus will get over in 5 months.</p>
              </div>
            </div>
            <div class="phase-card"><span> June - Oct</span>
              <h4>Problem Solving &amp; Assignments</h4>
              <div>
                <p>After every class of Quant, LRDI &amp; VARC topic wise problem solving videos &amp; assignments will
                  unlock on dashboard and will go on till your syllabus gets over in Sep</p>
              </div>
            </div>
            <div class="phase-card"><span>June</span>
              <h4>CAT Hard Copy Material</h4>
              <div>
                <p>12 Book Set of Quant, LRDI &amp; VARC, to help you cover your concept learning &amp; practice for CAT
                  &amp; Other MBA Exams.</p>
                <p>Will be delivered in January.</p>
                <p><strong style="background-color: transparent; color: rgb(241, 194, 50);">Not included in this package
                  </strong>(Select as Add-on to get it)</p>
              </div>
            </div>
            <div class="phase-card"><span>June - Oct</span>
              <h4>CAT Level Marathon</h4>
              <div >
                <p>CAT Level Marathon &amp; Topic wise Mock Test after coverage of Each Topic.</p>
              </div>
            </div>
            <div class="phase-card"><span>Oct First Week</span>
              <h4>CAT Syllabus to get Completed</h4>
              <div>
                <p>CAT Syllabus in form of Concepts, Application, Practice, Doubts to get covered. Only thing for you to
                  be left over will be take Mocks &amp; Revise.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="phases-wrapper phase1"
          style="background: linear-gradient(176deg, rgb(252, 105, 110) 0%, rgb(253, 143, 78) 93%);">
          <div class="phases-wrapper-in">
            <div class="phase-card"><span>June-Nov</span>
              <h4>iCAT Mocks starts to unlock</h4>
              <div>
                <p>20 CAT Mocks &amp; 45 Sectionals to be unlocked. Supported by Mock taking strategy &amp; analysis and
                  you can take theses Mocks till CAT.</p>
              </div>
            </div>
            <div class="phase-card"><span>Oct</span>
              <h4>iQuanta's CAT Crash Course Starts</h4>
              <div>
                <p>70+ Sessions of QA+LRDI+VARC Inclusive of shortcuts.</p>
              </div>
            </div>
            <div class="phase-card"><span>Nov</span>
              <h4>Rigorous Practice</h4>
              <div>
                <p>Doubt solving frequency, practice sessions frequency everything goes high to make the hard work feel
                  prep easy.</p>
              </div>
            </div>
            <div class="phase-card"><span>Nov End</span>
              <h4>Crack CAT </h4>
              <div>
                <p>If you follow all the 3 phases with iQuanta properly, we are sure you are going to Crack CAT and come
                  out of exam hall with a smiling face. :</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
