<div _ngcontent-serverapp-c82="" id="faculties" class="learn-from-the-best ng-star-inserted">
  <div _ngcontent-serverapp-c82="" class="course-header d-flex align-items-center">
    <div _ngcontent-serverapp-c82="" class="img"><img _ngcontent-serverapp-c82=""
        src="https://media.iquanta.in/ui_images/new-home/user-learn.png" alt=""></div>
    <h6 _ngcontent-serverapp-c82="">Learn from the best</h6>
  </div>
  <div _ngcontent-serverapp-c82="" class="learn-from-the-best-slider">
    <!-- <ngx-slick-carousel _ngcontent-serverapp-c82="" class="carousel slid_carousel slick-initialized slick-slider">
      <button class="slide-arrow prev-arrow slick-arrow" style=""><i class="bi bi-chevron-left"></i></button>

      <div class="slick-list draggable">
        <div class="slick-track" style="opacity: 1; width: 7344px; transform: translate3d(-1377px, 0px, 0px);">
          <div class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" style="width: 459px;"
            tabindex="-1">
            <div>
              <div _ngcontent-serverapp-c82="" ngxslickitem="" class="slide card-container1"
                style="width: 100%; display: inline-block;">
                <div _ngcontent-serverapp-c82="" class="card"><img _ngcontent-serverapp-c82="" alt="..."
                    class="img-fluid"
                    src="https://s3-ap-south-1.amazonaws.com/iquantamedia/media/faculty_image/faculty_image/6-Kamal.webp">
                </div>
              </div>
            </div>
          </div>
          <div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 459px;"
            tabindex="-1">
            <div>
              <div _ngcontent-serverapp-c82="" ngxslickitem="" class="slide card-container1"
                style="width: 100%; display: inline-block;">
                <div _ngcontent-serverapp-c82="" class="card"><img _ngcontent-serverapp-c82="" alt="..."
                    class="img-fluid"
                    src="https://s3-ap-south-1.amazonaws.com/iquantamedia/media/faculty_image/faculty_image/4-Nehil.webp">
                </div>
              </div>
            </div>
          </div>
          <div class="slick-slide" data-slick-index="0" aria-hidden="true" style="width: 459px;" tabindex="-1">
            <div>
              <div _ngcontent-serverapp-c82="" ngxslickitem="" class="slide card-container1 ng-star-inserted"
                style="width: 100%; display: inline-block;">
                <div _ngcontent-serverapp-c82="" class="card"><img _ngcontent-serverapp-c82="" alt="..."
                    class="img-fluid"
                    src="https://s3-ap-south-1.amazonaws.com/iquantamedia/media/faculty_image/faculty_image/1-all.webp">
                </div>
              </div>
            </div>
          </div>
          <div class="slick-slide slick-current slick-active" data-slick-index="1" aria-hidden="false"
            style="width: 459px;">
            <div>
              <div _ngcontent-serverapp-c82="" ngxslickitem="" class="slide card-container1 ng-star-inserted"
                style="width: 100%; display: inline-block;">
                <div _ngcontent-serverapp-c82="" class="card"><img _ngcontent-serverapp-c82="" alt="..."
                    class="img-fluid"
                    src="https://s3-ap-south-1.amazonaws.com/iquantamedia/media/faculty_image/faculty_image/2-indra.webp">
                </div>
              </div>
            </div>
          </div>
          <div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 459px;">
            <div>
              <div _ngcontent-serverapp-c82="" ngxslickitem="" class="slide card-container1 ng-star-inserted"
                style="width: 100%; display: inline-block;">
                <div _ngcontent-serverapp-c82="" class="card"><img _ngcontent-serverapp-c82="" alt="..."
                    class="img-fluid"
                    src="https://s3-ap-south-1.amazonaws.com/iquantamedia/media/faculty_image/faculty_image/3-kaushal.webp">
                </div>
              </div>
            </div>
          </div>
          <div class="slick-slide" data-slick-index="3" aria-hidden="true" style="width: 459px;" tabindex="-1">
            <div>
              <div _ngcontent-serverapp-c82="" ngxslickitem="" class="slide card-container1 ng-star-inserted"
                style="width: 100%; display: inline-block;">
                <div _ngcontent-serverapp-c82="" class="card"><img _ngcontent-serverapp-c82="" alt="..."
                    class="img-fluid"
                    src="https://s3-ap-south-1.amazonaws.com/iquantamedia/media/faculty_image/faculty_image/5-Abas.webp">
                </div>
              </div>
            </div>
          </div>
          <div class="slick-slide" data-slick-index="4" aria-hidden="true" style="width: 459px;" tabindex="-1">
            <div>
              <div _ngcontent-serverapp-c82="" ngxslickitem="" class="slide card-container1 ng-star-inserted"
                style="width: 100%; display: inline-block;">
                <div _ngcontent-serverapp-c82="" class="card"><img _ngcontent-serverapp-c82="" alt="..."
                    class="img-fluid"
                    src="https://s3-ap-south-1.amazonaws.com/iquantamedia/media/faculty_image/faculty_image/7-Prashant.webp">
                </div>
              </div>
            </div>
          </div>
          <div class="slick-slide" data-slick-index="5" aria-hidden="true" style="width: 459px;" tabindex="-1">
            <div>
              <div _ngcontent-serverapp-c82="" ngxslickitem="" class="slide card-container1 ng-star-inserted"
                style="width: 100%; display: inline-block;">
                <div _ngcontent-serverapp-c82="" class="card"><img _ngcontent-serverapp-c82="" alt="..."
                    class="img-fluid"
                    src="https://s3-ap-south-1.amazonaws.com/iquantamedia/media/faculty_image/faculty_image/6-Kamal.webp">
                </div>
              </div>
            </div>
          </div>
          <div class="slick-slide" data-slick-index="6" aria-hidden="true" style="width: 459px;" tabindex="-1">
            <div>
              <div _ngcontent-serverapp-c82="" ngxslickitem="" class="slide card-container1 ng-star-inserted"
                style="width: 100%; display: inline-block;">
                <div _ngcontent-serverapp-c82="" class="card"><img _ngcontent-serverapp-c82="" alt="..."
                    class="img-fluid"
                    src="https://s3-ap-south-1.amazonaws.com/iquantamedia/media/faculty_image/faculty_image/4-Nehil.webp">
                </div>
              </div>
            </div>
          </div>
          <div class="slick-slide slick-cloned" data-slick-index="7" aria-hidden="true" style="width: 459px;"
            tabindex="-1">
            <div>
              <div _ngcontent-serverapp-c82="" ngxslickitem="" class="slide card-container1"
                style="width: 100%; display: inline-block;">
                <div _ngcontent-serverapp-c82="" class="card"><img _ngcontent-serverapp-c82="" alt="..."
                    class="img-fluid"
                    src="https://s3-ap-south-1.amazonaws.com/iquantamedia/media/faculty_image/faculty_image/1-all.webp">
                </div>
              </div>
            </div>
          </div>
          <div class="slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" style="width: 459px;"
            tabindex="-1">
            <div>
              <div _ngcontent-serverapp-c82="" ngxslickitem="" class="slide card-container1"
                style="width: 100%; display: inline-block;">
                <div _ngcontent-serverapp-c82="" class="card"><img _ngcontent-serverapp-c82="" alt="..."
                    class="img-fluid"
                    src="https://s3-ap-south-1.amazonaws.com/iquantamedia/media/faculty_image/faculty_image/2-indra.webp">
                </div>
              </div>
            </div>
          </div>
          <div class="slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" style="width: 459px;"
            tabindex="-1">
            <div>
              <div _ngcontent-serverapp-c82="" ngxslickitem="" class="slide card-container1"
                style="width: 100%; display: inline-block;">
                <div _ngcontent-serverapp-c82="" class="card"><img _ngcontent-serverapp-c82="" alt="..."
                    class="img-fluid"
                    src="https://s3-ap-south-1.amazonaws.com/iquantamedia/media/faculty_image/faculty_image/3-kaushal.webp">
                </div>
              </div>
            </div>
          </div>
          <div class="slick-slide slick-cloned" data-slick-index="10" aria-hidden="true" style="width: 459px;"
            tabindex="-1">
            <div>
              <div _ngcontent-serverapp-c82="" ngxslickitem="" class="slide card-container1"
                style="width: 100%; display: inline-block;">
                <div _ngcontent-serverapp-c82="" class="card"><img _ngcontent-serverapp-c82="" alt="..."
                    class="img-fluid"
                    src="https://s3-ap-south-1.amazonaws.com/iquantamedia/media/faculty_image/faculty_image/5-Abas.webp">
                </div>
              </div>
            </div>
          </div>
          <div class="slick-slide slick-cloned" data-slick-index="11" aria-hidden="true" style="width: 459px;"
            tabindex="-1">
            <div>
              <div _ngcontent-serverapp-c82="" ngxslickitem="" class="slide card-container1"
                style="width: 100%; display: inline-block;">
                <div _ngcontent-serverapp-c82="" class="card"><img _ngcontent-serverapp-c82="" alt="..."
                    class="img-fluid"
                    src="https://s3-ap-south-1.amazonaws.com/iquantamedia/media/faculty_image/faculty_image/7-Prashant.webp">
                </div>
              </div>
            </div>
          </div>
          <div class="slick-slide slick-cloned" data-slick-index="12" aria-hidden="true" style="width: 459px;"
            tabindex="-1">
            <div>
              <div _ngcontent-serverapp-c82="" ngxslickitem="" class="slide card-container1"
                style="width: 100%; display: inline-block;">
                <div _ngcontent-serverapp-c82="" class="card"><img _ngcontent-serverapp-c82="" alt="..."
                    class="img-fluid"
                    src="https://s3-ap-south-1.amazonaws.com/iquantamedia/media/faculty_image/faculty_image/6-Kamal.webp">
                </div>
              </div>
            </div>
          </div>
          <div class="slick-slide slick-cloned" data-slick-index="13" aria-hidden="true" style="width: 459px;"
            tabindex="-1">
            <div>
              <div _ngcontent-serverapp-c82="" ngxslickitem="" class="slide card-container1"
                style="width: 100%; display: inline-block;">
                <div _ngcontent-serverapp-c82="" class="card"><img _ngcontent-serverapp-c82="" alt="..."
                    class="img-fluid"
                    src="https://s3-ap-south-1.amazonaws.com/iquantamedia/media/faculty_image/faculty_image/4-Nehil.webp">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><button class="slide-arrow next-arrow slick-arrow" style=""><i class="bi bi-chevron-right"></i></button>
    </ngx-slick-carousel> -->
  </div>
</div>
