<section class="task-2 container-xxl">
  <div class="row">
    <div class="col-9">
      <app-youtube-section></app-youtube-section>
      <app-full-course-list-section></app-full-course-list-section>
      <app-course-features-section></app-course-features-section>
      <app-banner-section></app-banner-section>
      <app-course-content-section></app-course-content-section>
      <app-learn-from-best-section></app-learn-from-best-section>
      <app-toppers-feedback-section></app-toppers-feedback-section>
      <app-featured-courses-section></app-featured-courses-section>
    </div>
    <div class="col-3">
      <app-right-sidebar></app-right-sidebar>
    </div>
  </div>
</section>
