<section class="cat-full-course-last-batch-2024 mb-5">

  <div class="heading">
    <label for="">CAT Full Couse Last Batch 2024</label>
    <p>Your safest trip to Top IIMs</p>
  </div>

  <div class="course-validity">
    <blockquote><strong>⏳Course Validity: Till March 2025</strong></blockquote>

    <div class="course-validity-points">
      <blockquote><strong>THIS YEARS NEW ADDON</strong></blockquote>
      <p>⭐ <strong>Engineers VARC : How to Crack CAT VARC, the Engineer's way. 100 videos on concepts and
          strategy</strong></p>
      <p>⭐ Non Engineers’ Conceptual Videos for those extremely weak in Quants.</p>
      <p>⭐ CAT 2023 Level Marathon after each Topic</p>
      <p>⭐ Topic wise Mocks after each class (AI based platform)</p>
      <p>⭐ 50 Questions on each Topic as Study Materiali</p>
      <p>⭐ CAT Mocks to be revamped as per CAT 2023 Level</p>
      <br>
      <p>CAT Course will start the moment you enrol,</p>
      <div *ngIf="isVisible">
      <p>as we'll start providing you Non Engineers QA module &amp; Engineers VARC</p>
      <p>one by one &amp; by the time you finish 25% of it,</p>
      <p>your Live classes will start in few days.</p>
      <blockquote><strong>&#xFEFF;Just after enrolling, you get 100+ Conceptual Videos. Syllabus over by Oct First Week
          via:</strong></blockquote>
      <p>Live Stream + Application Classes&nbsp;: 200+&nbsp;</p>
      <p>Assignments&nbsp;: 100+</p>
      <p>Practice Sessions&nbsp;: 100+</p>
      <p>24x7 Doubts Solving&nbsp;: Infinite</p>
      <p>Study Material (50 on each topic)&nbsp;CAT &amp; MBA Mocks &amp; Sectionals&nbsp;: 3000+</p>
      <p>Crash Course (after syllabus over) : 2 Months</p>
      <p>20 Full Mocks + 45 Sectionals</p>
      <blockquote><strong>Live Stream + Application Classes&nbsp;</strong>:</blockquote>
      <blockquote><strong>Quant:</strong></blockquote>
      <p>150+ Hrs of Live Sessions</p>
      <p>1000+ Recorded Videos</p>
      <blockquote><strong>LRDI:</strong></blockquote>
      <p>100+ Hrs of Live Sessions</p>
      <p>250+ Recorded Videos</p>
      <blockquote><strong>VARC:</strong></blockquote>
      <p>250+ Recorded Videos</p>
      <blockquote><strong>Class Timings:</strong></blockquote>
      <p>7 - 9 PM (4 days) (Live)</p>
      <p>10 PM - 12 AM (6 days ) (Application)</p>
      <p><em>Syllabus over by Oct first week</em></p>
      <blockquote><strong>Assignment after each class</strong>:</blockquote>
      <p>Quant 40</p>
      <p>VARC 30</p>
      <p>LRDI 30</p>
      <blockquote><strong>Practice sessions after each class</strong>:</blockquote>
      <p>Daily LRDI Sets</p>
      <p>VARC Sets for Practice</p>
      <p>Weekly 2-3 Quants Practice</p>
      <blockquote><strong>24 x 7 Doubts Solving</strong>:</blockquote>
      <p>24x7 doubt clarification (even at night)</p>
      <blockquote><strong>Study Material</strong>:</blockquote>
      <p>50 Questions on each SubTopic, having enough for you to practice after Classes.</p>
      <blockquote><strong>CAT Mocks</strong>:</blockquote>
      <p>20 Full Mocks (video solution)</p>
      <p>45 Sectionals</p>
      <p>2 NMAT Full Mocks</p>
      <p>2 TISS CUET Full Mocks</p>
      <p>2 XAT Full Mocks</p>
      <p>2 MICAT Full Mocks</p>
      <p>2 CMAT Full Mocks</p>
      <p>2 MHCET Full Mocks</p>
      <blockquote><strong>Crash Course&nbsp;</strong><em>(Last 2-3 months)</em>:</blockquote>
      <p>Revising everything we studied with CAT Level Live &amp; Application classes + Rigorous Practice.(If bought
        separately it costs Rs.15k)</p>
      <blockquote><strong>Features</strong>:</blockquote>
      <p>Recordings available of all the classes, in case you miss any.</p>
      <p>As soon as you enrol, you will get access to 100+ Conceptual videos.</p>
      <p>Highly Relevant set of 250 iQuanta Questions in last 2 months.</p>
      <p>Dual Pedagogy Teaching Both Conceptual Live Stream as well as Live Application Sessions.</p>
      <p>2 days Quant, 2 Days VARC, 2 Days LRDI : Balanced Preparation with Sunday for self preparation</p>
      <p>Content Quality matching exact CAT Standards, leading many students into 99+ range, details you can check
        clicking the button below.</p>
        </div>
    </div>
  </div>

  <div class="expand-content" (click)="isVisible = !isVisible">
    <i class="expand-i fas" [ngClass]="isVisible ? 'fa-angle-up' : 'fa-angle-down'"></i>
  </div>
</section>
