
<section>
  <div id="cat-journey" class="cat-journey">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12"></div>
        <div class="col-md-11">
          <div class="cat-journey-header-text text-center desktop-show">
            <h2>Your <span>CAT 2024 Course</span> Journey</h2>
            <h6>with iQuanta!</h6>
          </div>
          <div class="cat-journey-wrapper">
            <div class="cat-journey-bg"><img
                src="https://media.iquanta.in/ui_images/cat-journey-bg.png" alt="CAT 2024" class="desktop-show"><img
                src="https://media.iquanta.in/ui_images/cat-journey-bg-mobile.png"
                alt="CAT 2024" class="mobile-show"></div>
            <div class="cat-jounrey-wrapper">
              <div class="cat-jounrey-single-wrapper">
                <div class="row">
                  <div class="col-md-3 col-12">
                    <div class="person text-center desktop-show">
                      <h4>Start CAT Journey</h4>
                      <div class="img ng-star-inserted"><img
                          src="../assets/cat-2024/Indra.png" alt="CAT 2024"></div><!---->
                      <div class="img"><!----><!----></div>
                      <h5>CAT 2024 Aspirant</h5>
                    </div>
                    <div class="mobile-show person-mobile">
                      <div class="row">
                        <div class="col-6">
                          <div class="person text-center">
                            <div class="img ng-star-inserted"><img
                                src="https://media.iquanta.in/ui_images/Indra.png" alt="CAT 2024"></div><!---->
                            <div class="img"><!----><!----></div>
                          </div>
                        </div>
                        <div class="col-6 pl-0">
                          <div class="cat-journey-header-text text-center">
                            <h2>Start Your <span>CAT 2024</span>
                              Journey </h2>
                            <h6>with iQuanta!</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                      data-aos-delay="500" data-aos-offset="0"
                      class="cat-jounrey-single-item journey-position1 aos-init aos-animate">
                      <div class="cat-journey-single-card" style="cursor: pointer;">
                        <div class="cjs-in">
                          <div class="hover-card">
                            <div class="number">1</div>
                            <div class="text">
                              <h4>WHY MBA?</h4>
                              <ul class="nav">
                                <li>1. High Salary</li>
                                <li>2. Better Role</li>
                                <li>3. Better Growth</li>
                              </ul>
                            </div>
                            <div class="more-button"><button
                                mat-button="" class="mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base"><span
                                  class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                                  class="mdc-button__label">More Details</span><span
                                  class="mat-mdc-focus-indicator"></span><span matripple=""
                                  class="mat-ripple mat-mdc-button-ripple"></span><span
                                  class="mat-mdc-button-touch-target"></span></button></div>
                          </div>
                          <div class="img-element"><img
                              src="../assets/cat-2024/question-mark.png" alt="CAT 2024"></div>
                          <div class="footer-button-0"><button
                              mat-button="" class="mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base"><span
                                class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                                class="mdc-button__label">Get Counselling</span><span
                                class="mat-mdc-focus-indicator"></span><span matripple=""
                                class="mat-ripple mat-mdc-button-ripple"></span><span
                                class="mat-mdc-button-touch-target"></span></button></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                      data-aos-delay="1000" data-aos-offset="0"
                      class="cat-jounrey-single-item journey-position2 aos-init aos-animate">
                      <div mat-button="" class="cat-journey-single-card"
                        style="cursor: pointer;">
                        <div class="cjs-in">
                          <div class="number">2</div>
                          <div class="text-element fonto"> What cat? </div>
                          <div class="text">
                            <h4>CAT 2024 Details</h4>
                            <ul class="nav">
                              <li>1. Top B-Schools</li>
                              <li>2. Syllabus &amp; Weightage</li>
                              <li>3. Important Dates</li>
                            </ul>
                          </div>
                          <div class="img-element"><img
                              src="../assets/cat-2024/cap.png" alt="CAT 2024"></div>
                          <div class="footer-button"><button
                              mat-button="" class="mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base"><span
                                class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                                class="mdc-button__label">Check Now</span><span
                                class="mat-mdc-focus-indicator"></span><span matripple=""
                                class="mat-ripple mat-mdc-button-ripple"></span><span
                                class="mat-mdc-button-touch-target"></span></button></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                      data-aos-delay="1500" data-aos-offset="0"
                      class="cat-jounrey-single-item journey-position3 aos-init aos-animate">
                      <div class="cat-journey-single-card">
                        <div class="cjs-in">
                          <div class="number">3</div>
                          <div class="text-element"> How </div>
                          <div class="text">
                            <h4>CAT Strategy </h4>
                            <div class="cat-strategy-btns"><button
                                mat-button=""
                                class="btnbig mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base"><span
                                  class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                                  class="mdc-button__label">Overall</span><span
                                  class="mat-mdc-focus-indicator"></span><span matripple=""
                                  class="mat-ripple mat-mdc-button-ripple"></span><span
                                  class="mat-mdc-button-touch-target"></span></button>
                              <div class="d-flex"><button
                                  mat-button=""
                                  class="btnbig mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base"><span
                                    class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                                    class="mdc-button__label">QA</span><span class="mat-mdc-focus-indicator"></span><span
                                    matripple="" class="mat-ripple mat-mdc-button-ripple"></span><span
                                    class="mat-mdc-button-touch-target"></span></button><button
                                  mat-button=""
                                  class="mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base">
                                  <span
                                    class="mdc-button__label">VARC</span></button><button
                                  mat-button=""
                                  class="mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base"><span
                                    class="mdc-button__label">LRDI</span><span
                                    class="mat-mdc-focus-indicator"></span><span matripple=""
                                    class="mat-ripple mat-mdc-button-ripple"></span><span
                                    class="mat-mdc-button-touch-target"></span></button></div>
                            </div>
                          </div>
                          <div class="img-element"><img
                              src="../assets/cat-2024/chess.png" alt="CAT 2024"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row flex-column-reverse flex-sm-row">
                  <div class="col-md-3">
                    <div data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                      data-aos-delay="3000" data-aos-offset="0"
                      class="cat-jounrey-single-item journey-position5 aos-init aos-animate">
                      <div class="cat-journey-single-card">
                        <div class="cjs-in">
                          <div class="number">7</div>
                          <div class="text-element"> Step 3 </div>
                          <div class="text">
                            <h4>Clear<br> Doubts<br
                               > 24*7</h4>
                          </div>
                          <div class="img-element"><img
                              src="../assets/cat-2024/user-check.png" alt="CAT 2024"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                      data-aos-delay="2500" data-aos-offset="0"
                      class="cat-jounrey-single-item journey-position6 aos-init aos-animate">
                      <div class="cat-journey-single-card">
                        <div class="cjs-in">
                          <div class="number">6</div>
                          <div class="text-element"> Step 2 </div>
                          <div class="text">
                            <h4>Practice</h4>
                            <ul class="nav">
                              <li>1. Application Classes</li>
                              <li>2. Assignment</li>
                              <li>3. Practice Session</li>
                              <li>4. Exclusive Material</li>
                              <li>5. IIM ABC Batch</li>
                            </ul>
                          </div>
                          <div class="img-element"><img
                              src="../assets/cat-2024/pencil.png" alt="CAT 2024"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                      data-aos-delay="2000" data-aos-offset="0"
                      class="cat-jounrey-single-item journey-position7 aos-init aos-animate">
                      <div class="cat-journey-single-card">
                        <div class="cjs-in">
                          <div class="number">5</div>
                          <div class="text-element"> Step 1 </div>
                          <div class="text">
                            <h4>Clear <br> Concepts</h4>
                            <ul class="nav">
                              <li>1. Live Classes</li>
                              <li>2. Application Classes</li>
                              <li>3. Concept Videos</li>
                              <li> 4. Text Notes</li>
                            </ul>
                          </div>
                          <div class="img-element"><img
                              src="../assets/cat-2024/bulb.png" alt="CAT 2024"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                      data-aos-delay="1500" data-aos-offset="0"
                      class="cat-jounrey-single-item journey-position8 aos-init aos-animate">
                      <div class="cat-journey-single-card">
                        <div class="cjs-in">
                          <div class="number">4</div>
                          <div class="text-element"> with </div>
                          <div class="text">
                            <h4>iQuanta <br> CAT Course</h4>
                            <ul class="nav">
                              <li>1. Concept Video</li>
                              <li>2. Live Classes</li>
                              <li>3. Rigorous Practice</li>
                              <li>4. 24*7 Doubt Solving</li>
                            </ul>
                            <h6>Step 1 to Final Lap: All<br>
                              included in CAT 2024 Course</h6>
                          </div>
                          <div class="img-element"><img
                              src="../assets/cat-2024/book.png" alt="CAT 2024"></div>
                          <div class="position-text"> CAT 2024<br>
                            Course Starts </div>
                          <div class="footer-button"><button
                              mat-button="" class="mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base"><span
                                class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                                class="mdc-button__label">Enrol Now</span><span
                                class="mat-mdc-focus-indicator"></span><span matripple=""
                                class="mat-ripple mat-mdc-button-ripple"></span><span
                                class="mat-mdc-button-touch-target"></span></button></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                      data-aos-delay="3000" data-aos-offset="0"
                      class="cat-jounrey-single-item journey-position9 aos-init">
                      <div class="cat-journey-single-card">
                        <div class="cjs-in">
                          <div class="number">8</div>
                          <div class="text-element"> India’s First AI Mock </div>
                          <div class="text">
                            <h4>iCAT Mock</h4>
                            <ul class="nav">
                              <li>1. 20 Full Mocks</li>
                              <li>2. 45 Sectional Mocks</li>
                              <li>3. AI Based Analysis</li>
                            </ul>
                          </div>
                          <div class="footer-button"><button
                              mat-button="" class="mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base"><span
                                class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                                class="mdc-button__label">Attempt Now</span><span
                                class="mat-mdc-focus-indicator"></span><span matripple=""
                                class="mat-ripple mat-mdc-button-ripple"></span><span
                                class="mat-mdc-button-touch-target"></span></button></div>
                          <div class="img-element"><img
                              src="../assets/cat-2024/notepad.png" alt="CAT 2024"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                      data-aos-delay="3000" data-aos-offset="0"
                      class="cat-jounrey-single-item journey-position10 aos-init">
                      <div class="cat-journey-single-card" tabindex="0">
                        <div class="cjs-in">
                          <div class="number">9</div>
                          <div class="text-element"> Final Lap! </div>
                          <div class="text">
                            <h4>CAT Crash Course</h4>
                            <ul class="nav">
                              <li>1. Revision &amp; Shortcuts</li>
                              <li>2. Rigorous Practice</li>
                              <li>3. Important Initiatives</li>
                            </ul>
                          </div>
                          <div class="img-element"><img
                              src="../assets/cat-2024/clock.png" alt="CAT 2024"></div>
                          <div class="jorney-footer-text"> Take CAT 2024<br
                             > land into IIMS </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                      data-aos-delay="5000" data-aos-offset="0"
                      class="cat-jounrey-single-item journey-position11 aos-init">
                      <div class="cat-journey-single-card" style="cursor: pointer;">
                        <div class="cjs-in">
                          <div class="text">
                            <h4>¡Quanta Toppers who<br> followed
                              same Path</h4>
                          </div>
                          <div class="journey-video"><img
                              src="https://media.iquanta.in/ui_images/jurny-video.png" alt="CAT 2024"></div>
                          <div class="footer-button"><button
                              mat-button="" class="mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base"><span
                                class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                                class="mdc-button__label">Their Feedback</span><span
                                class="mat-mdc-focus-indicator"></span><span matripple=""
                                class="mat-ripple mat-mdc-button-ripple"></span><span
                                class="mat-mdc-button-touch-target"></span></button></div>
                          <div data-aos="fade-right" data-aos-duration="1000"
                            class="arrow aos-init"><img
                              src="../assets/cat-2024/arrow.png" alt="CAT 2024"></div>
                          <div class="jorney-footer-text"> Take CAT 2024<br
                             > land into IIMS </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cat-jorney-collages"><img
        src="https://media.iquanta.in/ui_images/cat-journey-collage.png" alt="CAT 2024" class="desktop-show"><img
        src="https://media.iquanta.in/ui_images/cat-journey-collage-mobile.png" alt="CAT 2024"
        class="mobile-show"></div>
  </div>
</section>